$headerTopPadding: 24px;

$colorBlue: #0075ff;
$colorBlueHover: #005ecc;
$colorPrimaryButton: #005ecc;
$colorBlack: #000;
$colorDark: #3e3e3e;
$colorWhite: #fff;
$colorLight: #f7f8ff;
$formHoverColor: #ccd0e0;
$colorGray: #9fadc2;
$placeholderColor: #8f99a8;

$animationDuration: 0.3s;
